body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--grey-light);
  color: var(--grey-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
